@page "/teams/{teamId:int}"
@using static DynamoLeagueBlazor.Shared.Features.Teams.GetTeamDetailResult

@if(_result is null)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%" Width="100%" />
        <MudCardContent>
            <MudSkeleton Width="30%" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
    </MudCard>
}
else
{
    <Title>
        @_title
    </Title>

    <MudCard>
        <MudCardContent>
            <MudGrid>
                <MudItem lg=3 xs=12 Class="d-flex flex-column align-center">
                    <img src="@_result.TeamLogoUrl" />
                    <MudDivider Class="mt-2" Style="width: 100%; max-width:250px;"/>
                    <MudText Typo="Typo.h4">@_result.TeamName</MudText>
                    <MudChip Color="Color.Tertiary" Variant="Variant.Text" Icon=@Icons.Outlined.ReduceCapacity Size=Size.Large>
                        @_result.CapSpace
                    </MudChip>
                    <MudBadge Origin=Origin.CenterRight Content=_result.RosteredPlayers.Count() Color=Color.Secondary>
                        <MudButton Variant="Variant.Text" Color="Color.Secondary" StartIcon=@Icons.Outlined.PersonAdd OnClick=ShowRosteredPlayers>
                            Rostered Players
                        </MudButton>
                    </MudBadge>
                    <MudBadge Origin=Origin.CenterRight Content=_result.UnrosteredPlayers.Count() Color=Color.Secondary>
                        <MudButton Variant="Variant.Text" Color="Color.Secondary" StartIcon=@Icons.Outlined.PersonOff OnClick=ShowUnrosteredPlayers>
                            Unrostered Players
                        </MudButton>
                    </MudBadge>
                </MudItem>
                <MudItem lg=9 xs=12>
                    <MudTable Items="_playersToDisplay" Dense=true Elevation=0>
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">@_playerTableHeader</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>@nameof(PlayerItem.Name)</MudTh>
                            <MudTh>@nameof(PlayerItem.Position)</MudTh>
                            <MudTh>Contract Value</MudTh>
                            <MudTh>Contract Length</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel=@nameof(PlayerItem.Name)>@context.Name</MudTd>
                            <MudTd DataLabel=@nameof(PlayerItem.Position)>@context.Position</MudTd>
                            <MudTd DataLabel="Contract Value">@context.ContractValue</MudTd>
                            <MudTd DataLabel="Contract Length">@context.ContractLength</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}
