@page "/teams"
@using static DynamoLeagueBlazor.Shared.Features.Teams.TeamListResult

<Title>
    @_title
</Title>

<MudText Typo=Typo.h3 Align=Align.Center>@_title</MudText>

@if(_result is null)
{
    <MudText Typo=Typo.h3>Nothing to show...</MudText>
}
else
{
    <MudGrid>
        @foreach(var team in _result.Teams)
        {
            var detailHref = $"/teams/{team.Id}";
            <MudItem lg=4 xs=12 Class=grow>
                <a href=@detailHref>
                    <MudCard>
                        <MudCardHeader Class="mud-card-header-override">
                            <CardHeaderAvatar>
                                <MudAvatar Image=@team.TeamLogoUrl Size=Size.Large></MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@team.TeamName</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardActions>
                            <MudChip Color="Color.Tertiary" Variant="Variant.Text" Icon=@Icons.Outlined.ReduceCapacity Size=Size.Large>
                                @team.CapSpace
                            </MudChip>
                            <MudChip Color="Color.Info" Variant="Variant.Text" Icon=@Icons.Outlined.Person Size=Size.Large>
                                @team.RosteredPlayerCount
                            </MudChip>
                            <MudChip Color="Color.Info" Variant="Variant.Text" Icon=@Icons.Outlined.PersonOff Size=Size.Large>
                                @team.UnrosteredPlayerCount
                            </MudChip>
                            <MudChip Color="Color.Info" Variant="Variant.Text" Icon=@Icons.Outlined.PendingActions Size=Size.Large>
                                @team.UnsignedPlayerCount
                            </MudChip>
                        </MudCardActions>
                    </MudCard>
                </a>
            </MudItem>
        }
    </MudGrid>
}