@page "/teams"
@using static DynamoLeagueBlazor.Shared.Features.Teams.TeamListResult

<Title>
    @_title
</Title>

<PageHeader>
    @_title
</PageHeader>

@if(_result is null)
{
    <MudGrid>
        @for(int i = 0; i <= 10; i++)
        {
        <MudItem lg=4 xs=12>
            <MudCard>
                <MudCardHeader Class="mud-card-header-override">
                    <CardHeaderAvatar>
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" />
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudSkeleton SkeletonType="SkeletonType.Text" Width="200px" Height="20px"></MudSkeleton>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardActions>
                    @for(int i = 0; i <= 3; i++)
                    {
                        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="30px" />
                    }    
                </MudCardActions>
            </MudCard>
        </MudItem>
        }
    </MudGrid>
}
else
{
    <MudGrid>
        @foreach(var team in _result.Teams)
        {
            var detailHref = $"/teams/{team.Id}";
            <MudItem lg=4 xs=12 Class=grow>
                <a href=@detailHref>
                    <MudCard>
                        <MudCardHeader Class="mud-card-header-override">
                            <CardHeaderAvatar>
                                <MudAvatar Image=@team.LogoUrl Size=Size.Large></MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@team.Name</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardActions>
                            <MudChip Color="Color.Success" Variant="Variant.Text" Icon=@Icons.Outlined.ReduceCapacity Size=Size.Large>
                                @team.CapSpace
                            </MudChip>
                            <MudChip Color="Color.Primary" Variant="Variant.Text" Icon=@Icons.Outlined.Person Size=Size.Large>
                                @team.RosteredPlayerCount
                            </MudChip>
                            <MudChip Color="Color.Primary" Variant="Variant.Text" Icon=@Icons.Outlined.PersonOff Size=Size.Large>
                                @team.UnrosteredPlayerCount
                            </MudChip>
                            <MudChip Color="Color.Primary" Variant="Variant.Text" Icon=@Icons.Outlined.PendingActions Size=Size.Large>
                                @team.UnsignedPlayerCount
                            </MudChip>
                        </MudCardActions>
                    </MudCard>
                </a>
            </MudItem>
        }
    </MudGrid>
}