@page "/teams"
@using static DynamoLeagueBlazor.Shared.Features.Teams.GetTeamListResult

<h1>Teams</h1>

@if(_result is null)
{
    <h2>Nothing to show...</h2>
}
else
{
    <MudGrid>
        @foreach(var team in _result.Teams)
        {
            <MudItem lg=4 xs=12>
                <MudCard>
                    <MudCardHeader Class="mud-card-header-override">
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Secondary" Image=@team.TeamLogoUrl Square=true></MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@team.TeamName</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudChip Color="Color.Info" Variant="Variant.Text" Icon=@Icons.Outlined.Person>
                                @team.PlayerCount
                            </MudChip>
                            <MudChip Color="Color.Tertiary" Variant="Variant.Text" Icon=@Icons.Outlined.ReduceCapacity>
                                @team.CapSpace
                            </MudChip>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardActions>
                        @{ 
                            var detailHref = $"/teams/{team.Id}";
                        }
                        <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.RemoveRedEye" Link=@detailHref>
                            Detail
                        </MudButton>
                        <MudButton Color="Color.Secondary" StartIcon="@Icons.Material.Filled.SwapHoriz">
                            Trade
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
    
}
