@page "/fines"
@using DynamoLeagueBlazor.Shared.Infastructure.Identity

@using static DynamoLeagueBlazor.Shared.Features.Fines.FineListResult

<Title>
    @_title
</Title>

<MudTable Items="_result.Fines" Dense=true Loading=_loading Filter="new Func<FineItem, bool>(FilterFunc)" Context=fineItem> 
    <ToolBarContent>
        <MudText Typo="Typo.h6">@_title</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchValue" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <AuthorizeView Roles=@RoleName.Admin>
            <Authorized>
                <MudTh>Actions</MudTh>
            </Authorized>
        </AuthorizeView>
        <MudTh>Name</MudTh>
        <MudTh>Reason</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Status</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel=Actions>
            <AuthorizeView Roles=@RoleName.Admin>
                <Authorized>
                    <MudIconButton Icon="@Icons.Material.Outlined.Approval" Color="Color.Info" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2" OnClick="(e) => OpenManageFineDialog(fineItem.FineId)" />
                </Authorized>
            </AuthorizeView>
        </MudTd>
        <MudTd DataLabel=Name>
            <PlayerNameWithHeadShot Name="@fineItem.PlayerName" HeadShotUrl="@fineItem.PlayerHeadShotUrl" />
        </MudTd>
        <MudTd DataLabel=Reason>@fineItem.FineReason</MudTd>
        <MudTd DataLabel=Amount>@fineItem.FineAmount</MudTd>
        <MudTd DataLabel=Status>
            @{
                RenderFragment status = fineItem.FineStatus switch
                {
                    "Approved" => @<MudIcon Icon=@Icons.Outlined.CheckCircle Color=Color.Success />,
                    "Pending" => @<MudIcon Icon=@Icons.Outlined.Info Color=Color.Info />,
                    _ => throw new ArgumentOutOfRangeException("Fine Status not found")
                };
            }
            @status
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>