@page "/freeagents/{playerId:int}"

@if(_result is null)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%" Width="100%" />
        <MudCardContent>
            <MudSkeleton Width="30%" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
    </MudCard>
}
else
{
    <Title>
        @_title
    </Title>

    <MudText Align=Align.Center Typo=Typo.h3>
        @_title
    </MudText>

    <MudCard>
        <MudCardContent>
            <MudGrid>
                <MudItem sm=3 xs=12 Class="d-flex flex-column align-center">
                    <MudAvatar Image=@_result.HeadShot Size=Size.Large></MudAvatar>
                    <MudDivider Class="mt-2" Style="width: 100%; max-width:250px;"/>
                    <MudText Typo=Typo.h4>@_result.Name</MudText>
                    <MudText Typo=Typo.h6>Team Owner</MudText>
                    <MudText Typo=Typo.h6 Color=Color.Secondary>@_result.Team</MudText>
                    <MudText Typo=Typo.h6>Position</MudText>
                    <MudText Typo=Typo.h6 Color=Color.Secondary>@_result.Position</MudText>
                    <MudDivider DividerType=DividerType.Middle/>
                </MudItem>
                <MudItem md=9 xs=12>
                    <MudText Typo=Typo.h6>Submit A New Bid</MudText>
                    <EditForm Model=_form OnValidSubmit=OnValidSubmitAsync>
                        <FluentValidationValidator />
                        <MudNumericField @bind-Value="_form.Amount" Label="Bid Amount" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" HideSpinButtons="true" Class="mb-2"/>
                        <MudButton Color="Color.Success" Variant=Variant.Outlined StartIcon=@Icons.Outlined.Check OnClick="OnValidSubmitAsync" Disabled="@_processingForm">
                            @if (_processingForm)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                <MudText Class="ms-2">Saving...</MudText>
                            }
                            else
                            {
                                <MudText>Save</MudText>
                            }
                        </MudButton>
                    </EditForm>
                    <MudText Typo=Typo.h6 Color=Color.Warning>Bidding Ends on @_result.EndOfFreeAgency</MudText>
                </MudItem>
                <MudItem xs=12>
                    @if(_result.Bids.Any())
                    {
                        <MudTimeline>
                            @{
                                var firstBid = _result.Bids.First();
                            }
                            <MudTimelineItem Icon=@Icons.Outlined.Money Size=Size.Large Color=Color.Success>
                                <MudAlert Severity="Severity.Success">
                                    @firstBid!.Team is winning with a bid of <b>@firstBid.Amount</b> on @(firstBid.Date)!
                                </MudAlert>
                            </MudTimelineItem>
                            @foreach(var bid in _result.Bids.Skip(1))
                            {
                                <MudTimelineItem Icon=@Icons.Outlined.Money>
                                    <ItemContent>
                                        @bid!.Team bid @bid.Amount on @(bid.Date).
                                    </ItemContent>
                                </MudTimelineItem>
                            }
                        </MudTimeline>
                    }
                    else
                    {
                        <MudAlert ShowCloseIcon=false Severity=Severity.Info>
                            There is currently no bid history to show for this player.
                        </MudAlert>
                    }
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}
