@page "/teams/{teamId:int}"
@using static DynamoLeagueBlazor.Shared.Features.Teams.TeamDetailResult

@if(_result is null)
{
    <MudCard>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%" Width="100%" />
        <MudCardContent>
            <MudSkeleton Width="30%" />
            <MudSkeleton Width="80%" />
            <MudSkeleton Width="100%" />
        </MudCardContent>
        <MudCardActions>
            <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
            <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
        </MudCardActions>
    </MudCard>
}
else
{
    <Title>
        @_title
    </Title>

    <MudCard>
        <MudCardContent>
            <MudGrid>
                <MudItem lg=3 xs=12 Class="d-flex flex-column align-center">
                    <img src="@_result.LogoUrl" style="max-width: 200px;"/>
                    <MudDivider Class="mt-2" Style="max-width:250px; width: 100%"/>
                    <MudText Typo="Typo.h4" Align=Align.Center>@_result.Name</MudText>
                    <MudText Typo=Typo.h6>Remaining Cap Space</MudText>
                    <MudText Typo=Typo.h6 Color=Color.Success>@_result.CapSpace</MudText>
                    <AuthorizeView Policy="@PolicyRequirements.Admin">
                        <Authorized>
                            <MudButton Color="Color.Error" StartIcon="@Icons.Material.Filled.MoneyOff" OnClick="(e) => OpenAddFineDialog(TeamId)" FullWidth=true>
                                Fine This Team
                            </MudButton>
                        </Authorized>
                    </AuthorizeView>
                    <MudDivider Class="mt-2" Style="max-width:250px; width: 100%"/>
                    <MudBadge Origin=Origin.CenterRight Content=_result.RosteredPlayers.Count() Color=Color.Tertiary>
                        <MudButton Variant="Variant.Text" Color="Color.Tertiary" StartIcon=@Icons.Material.Outlined.PersonAdd OnClick=ShowRosteredPlayers>
                            Rostered Players
                        </MudButton>
                    </MudBadge>
                    <MudBadge Origin=Origin.CenterRight Content=_result.UnrosteredPlayers.Count() Color=Color.Tertiary>
                        <MudButton Variant="Variant.Text" Color="Color.Tertiary" StartIcon=@Icons.Material.Outlined.PersonOff OnClick=ShowUnrosteredPlayers>
                            Unrostered Players
                        </MudButton>
                    </MudBadge>
                    <MudBadge Origin=Origin.CenterRight Content=_result.UnsignedPlayers.Count() Color=Color.Tertiary>
                        <MudButton Variant="Variant.Text" Color="Color.Tertiary" StartIcon=@Icons.Material.Outlined.PendingActions OnClick=ShowUnsignedPlayers>
                            Unsigned Players
                        </MudButton>
                    </MudBadge>
                </MudItem>
                <MudItem lg=9 xs=12>
                    <MudTable Items="_playersToDisplay" Dense=true Elevation=0>
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">@_playerTableHeader</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            @if(_isUsersTeam && _onPlayerTableActionClick != null)
                            {
                                <MudTh>Actions</MudTh>
                            }
                            <MudTh><MudTableSortLabel SortBy="new Func<PlayerItem,object>(x=> x.Name)">@nameof(PlayerItem.Name)</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<PlayerItem,object>(x=> x.Position)">@nameof(PlayerItem.Position)</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<PlayerItem,object>(x=> x.ContractValue)">Contract Value</MudTableSortLabel></MudTh>
                            <MudTh><MudTableSortLabel SortBy="new Func<PlayerItem,object>(x=> x.YearContractExpires ?? 0)">Contract Length</MudTableSortLabel></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            @if(_isUsersTeam && _onPlayerTableActionClick != null)
                            { 
                                <MudTd DataLabel="Actions">
                                    <MudIconButton Icon="@_tableActionIcon" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" OnClick="() => _onPlayerTableActionClick.Invoke(context.Id)" />
                                </MudTd>
                            }
                            <MudTd DataLabel=@nameof(PlayerItem.Name)>
                                <NameWithImage Name="@context.Name" ImageUrl="@context.HeadShotUrl" />
                            </MudTd>
                            <MudTd DataLabel=@nameof(PlayerItem.Position)>@context.Position</MudTd>
                            <MudTd DataLabel="Contract Value">@context.ContractValue.ToString("C0")</MudTd>
                            <MudTd DataLabel="Contract Length">@context.YearContractExpires.ToString()</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
}
