@page "/fines"
@using DynamoLeagueBlazor.Shared.Infrastructure.Identity
@using static DynamoLeagueBlazor.Shared.Features.Fines.FineListResult

<Title>
    @_title
</Title>

<PageHeader>
    @_title
</PageHeader>

<MudTable Items="_result.Fines" Dense=true Loading=_loading Filter="new Func<FineItem, bool>(FilterFunc)" Context=fineItem SortLabel="Sort By" Striped=true> 
    <ToolBarContent>
        <MudTextField @bind-Value="_searchValue" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <AuthorizeView Roles=@RoleName.Admin>
            <Authorized>
                <MudTh>Actions</MudTh>
            </Authorized>
        </AuthorizeView>
        <MudTh><MudTableSortLabel SortBy="new Func<FineItem,object?>(x=> x.PlayerName)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<FineItem,object>(x=> x.TeamName)">Team</MudTableSortLabel></MudTh>
        <MudTh>Reason</MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<FineItem,object>(x=> x.Amount)">Amount</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<FineItem,object>(x=> x.Status)">Status</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <AuthorizeView Roles=@RoleName.Admin>
            <Authorized>
                <MudTd DataLabel=Actions>
                    <MudIconButton Icon="@Icons.Material.Outlined.Approval" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small" OnClick="(e) => OpenManageFineDialog(fineItem.Id)" />
                </MudTd>
            </Authorized>
        </AuthorizeView>
        <MudTd DataLabel=Name>
            @if(fineItem.PlayerName != null)
            {
                <NameWithImage Name="@fineItem.PlayerName" ImageUrl="@fineItem.PlayerHeadShotUrl" /> 
            }
        </MudTd>
        <MudTd DataLabel=Team>
            <NameWithImage Name="@fineItem.TeamName" ImageUrl="@fineItem.TeamLogoUrl" />
        </MudTd>
        <MudTd DataLabel=Reason>@fineItem.Reason</MudTd>
        <MudTd DataLabel=Amount>@fineItem.Amount.ToString("C0")</MudTd>
        <MudTd DataLabel=Status>
            @{
                RenderFragment status = fineItem.Status switch
                {
                    "Approved" => @<MudIcon Icon=@Icons.Material.Outlined.CheckCircle Color=Color.Success />,
                    "Pending" => @<MudIcon Icon=@Icons.Material.Outlined.Pending Color=Color.Info />,
                    _ => throw new ArgumentOutOfRangeException("Fine Status not found")
                };
            }
            @status
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>