@page "/players"
@using static DynamoLeagueBlazor.Shared.Features.Players.GetPlayerListResult

<Title>
    @_title
</Title>

<MudTable Items="_result.Players" Dense=true Loading=_loading Filter="new Func<PlayerItem, bool>(FilterFunc)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">@_title</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchValue" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>@nameof(PlayerItem.Name)</MudTh>
        <MudTh>@nameof(PlayerItem.Position)</MudTh>
        <MudTh>@nameof(PlayerItem.Team)</MudTh>
        <MudTh>Contract Value</MudTh>
        <MudTh>Contract Length</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel=@nameof(PlayerItem.Name)>@context.Name</MudTd>
        <MudTd DataLabel=@nameof(PlayerItem.Position)>@context.Position</MudTd>
        <MudTd DataLabel=@nameof(PlayerItem.Team)>@context.Team</MudTd>
        <MudTd DataLabel="Contract Value">@context.ContractValue</MudTd>
        <MudTd DataLabel="Contract Length">@context.ContractLength</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>