@page "/players/list"
@using static DynamoLeagueBlazor.Shared.Features.Players.GetPlayerListResult

<h1>
    Player Lookup
</h1>

<MudTable Items="_result.Players" Dense=true Loading=_loading RowsPerPage=25 Elevation=0 Class="bg-none" >
    <HeaderContent>
        <MudTh>@nameof(PlayerItem.Name)</MudTh>
        <MudTh>@nameof(PlayerItem.Position)</MudTh>
        <MudTh>@nameof(PlayerItem.Team)</MudTh>
        <MudTh>Contract Value</MudTh>
        <MudTh>Contract Length</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel=@nameof(PlayerItem.Name)>@context.Name</MudTd>
        <MudTd DataLabel=@nameof(PlayerItem.Position)>@context.Position</MudTd>
        <MudTd DataLabel=@nameof(PlayerItem.Team)>@context.Team</MudTd>
        <MudTd DataLabel="Contract Value">@context.ContractValue</MudTd>
        <MudTd DataLabel="Contract Length">@context.ContractLength</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>